@font-face {
    font-family: 'TT Firs Neue';
    font-weight: 100;
    src: local('TT Firs Neue'), url("../assets/fonts/TTFirsNeue-Thin.ttf") format('truetype');
}

@font-face {
    font-family: 'TT Firs Neue';
    font-weight: 100;
    font-style: italic;
    src: local('TT Firs Neue'), url("../assets/fonts/TTFirsNeue-ThinItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'TT Firs Neue';
    font-weight: 200;
    src: local('TT Firs Neue'), url("../assets/fonts/TTFirsNeue-ExtraLight.ttf") format('truetype');
}

@font-face {
    font-family: 'TT Firs Neue';
    font-weight: 200;
    font-style: italic;
    src: local('TT Firs Neue'), url("../assets/fonts/TTFirsNeue-ExtraLightItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'TT Firs Neue';
    font-weight: 300;
    src: local('TT Firs Neue'), url("../assets/fonts/TTFirsNeue-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'TT Firs Neue';
    font-weight: 300;
    font-style: italic;
    src: local('TT Firs Neue'), url("../assets/fonts/TTFirsNeue-LightItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue'), url("../assets/fonts/TTFirsNeue-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'TT Firs Neue';
    font-style: italic;
    src: local('TT Firs Neue'), url("../assets/fonts/TTFirsNeue-Italic.ttf") format('truetype');
}

@font-face {
    font-family: 'TT Firs Neue';
    font-weight: 500;
    src: local('TT Firs Neue'), url("../assets/fonts/TTFirsNeue-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'TT Firs Neue';
    font-weight: 500;
    font-style: italic;
    src: local('TT Firs Neue'), url("../assets/fonts/TTFirsNeue-MediumItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'TT Firs Neue';
    font-weight: 600;
    src: local('TT Firs Neue'), url("../assets/fonts/TTFirsNeue-DemiBold.ttf") format('truetype');
}

@font-face {
    font-family: 'TT Firs Neue';
    font-weight: 600;
    font-style: italic;
    src: local('TT Firs Neue'), url("../assets/fonts/TTFirsNeue-DemiBoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'TT Firs Neue';
    font-weight: 700;
    src: local('TT Firs Neue'), url("../assets/fonts/TTFirsNeue-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'TT Firs Neue';
    font-weight: 700;
    font-style: italic;
    src: local('TT Firs Neue'), url("../assets/fonts/TTFirsNeue-BoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'TT Firs Neue';
    font-weight: 800;
    src: local('TT Firs Neue'), url("../assets/fonts/TTFirsNeue-ExtraBold.ttf") format('truetype');
}

@font-face {
    font-family: 'TT Firs Neue';
    font-weight: 800;
    font-style: italic;
    src: local('TT Firs Neue'), url("../assets/fonts/TTFirsNeue-ExtraBoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'Benett Sans';
    src: local('Benett Sans'), url("../assets/fonts/Benett-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Benett Sans';
    font-weight: 700;
    src: local('Benett Sans'), url("../assets/fonts/Benett-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Benett Sans';
    font-style: oblique;
    src: local('Benett Sans'), url("../assets/fonts/Benett-Round.ttf") format('truetype');
}